.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  background-color: rgba(0, 0, 0, 0.5);

  .inner-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 40rem;
    width: 50%;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 10px;
  }
}
