.artist-show {
  background-color: #21222b;
  color: #fff;
  display: flex; }
  .artist-show .main-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 3rem 3rem;
    height: 100vh;
    width: 100%; }
  .artist-show .fa-arrow-left {
    color: #fff;
    font-size: 1.8rem; }
  .artist-show section {
    margin-top: 2rem; }
  .artist-show .profile {
    display: flex;
    align-items: center;
    width: 100%; }
    .artist-show .profile img {
      border-radius: 50%;
      width: 15em; }
    .artist-show .profile h1 {
      margin: 0;
      font-weight: 300;
      font-size: 3rem; }
    .artist-show .profile .stat-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 3em;
      width: 100%; }
    .artist-show .profile .stat {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.1rem; }
      .artist-show .profile .stat h3 {
        margin: 0; }
      .artist-show .profile .stat p {
        color: #D52F7F;
        margin: 0 0 0 0.5rem; }
    .artist-show .profile .social-links {
      margin-top: 1rem; }
      .artist-show .profile .social-links a:not(:first-child) {
        margin-left: 1rem; }
      .artist-show .profile .social-links img {
        width: 2.5rem; }
  .artist-show .bio {
    font-size: 1em; }
