@import '../../styles/variables.scss';

.artist-show {
  background-color: #21222b;
  color: #fff;
  display: flex;

  .main-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 3rem 3rem;
    height: 100vh;
    width: 100%;
  }

  .fa-arrow-left {
    color: #fff;
    font-size: 1.8rem;
  }

  section {
    margin-top: 2rem;
  }

  .profile {
    display: flex;
    align-items: center;
    width: 100%;

    img {
      border-radius: 50%;
      width: 15em;
    }

    h1 {
      margin: 0;
      font-weight: 300;
      font-size: 3rem;
    }
    .stat-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 3em;
      width: 100%;
    }

    .stat {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.1rem;

      h3 {
        margin: 0;
      }

      p {
        color: $pink-two;
        margin: 0 0 0 0.5rem;
      }
    }

    .social-links {
      margin-top: 1rem;

      a:not(:first-child) {
        margin-left: 1rem;
      }

      img {
        width: 2.5rem;
      }
    }
  }

  .bio {
    font-size: 1em;
  }
}
