.landing {
  width: 100%;
  position: relative;
  background-color: #131621; }
  .landing .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./savoy_ogden_optimized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .landing h1 {
    margin: 0 auto;
    font-size: 6rem;
    margin-top: 7rem;
    color: #fff;
    font-family: 'Courgette', cursive; }
  .landing .divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    width: 90%;
    font-size: 1.7rem;
    color: #fff; }
  .landing .divider-line {
    height: 2px;
    background-color: #fff;
    width: 45%; }
  .landing .market-dashboard {
    height: 800px;
    background-color: #131620; }
