.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #131621; }
  .landing .hero {
    height: 60%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./savoy_ogden_optimized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .landing .button-container {
    text-align: center;
    position: absolute;
    background-color: #21222b;
    padding: 2rem 2rem;
    top: 50%;
    width: 30rem;
    border-radius: 10px;
    color: #fff; }
  .landing h1 {
    margin: 0; }
  .landing .half-button {
    margin: 1em;
    width: 40%; }
