.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #131621; }
  .landing .hero {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./savoy_ogden_optimized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .landing h1 {
    margin: 0 auto;
    font-size: 6rem;
    margin-top: 7rem;
    color: #fff;
    font-family: 'Courgette', cursive; }
