.artist-index {
  display: flex;
  background-color: #21222b;
  color: #fff;

  .main-content {
    height: 100vh;
    width: 100%;

    padding: 3rem 3rem;
  }

  .table-headings {
    display: grid;
    grid-template-columns: 8fr repeat(5, 10fr);
    border-bottom: 1px solid #fff;
    align-items: center;

    margin-top: 3rem;
  }

  .artists-container {
    height: 400px;
    overflow: scroll;
    background-color: #32333e;
  }

  .artist-listing {
    display: grid;
    grid-template-columns: 8fr repeat(5, 10fr);
    align-items: center;
    text-decoration: none;

    cursor: pointer;
    p {
      color: #fff;
    }
  }

  .artist-listing:hover {
    background-color: #373945;
  }

  .artist-image {
    width: 50px;
    height: 50px;
  }

  .watchlist-heading {
    width: 6rem;
  }

  .genre-selector {
    max-height: 40px;
  }

  .filters {
    display: flex;
  }

  .agency-form select {
    margin-left: 1rem;
  }

  .genre-form {
    margin-left: 2rem;

    select {
      margin-left: 1rem;
    }
  }

  label {
    display: flex;
    align-items: center;
  }
}
