.artist-index {
  display: flex;
  background-color: #21222b;
  color: #fff;

  .main-content {
    height: 100vh;
    width: 100%;

    padding: 3rem 3rem;
  }

  .search {
    display: flex;
    width: 100%;
    position: relative;
  }

  .search-input {
    border: none;
    padding: 0 0 0 1rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
  }

  .search button {
    border: none;
    height: 2.5rem;
    width: 10rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 1.5rem;
    background-color: #01bbd3;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 33px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 33px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 33px -13px rgba(0, 0, 0, 0.75);
  }

  #suggestions {
    position: absolute;
    display: block;
    width: 20rem;
    z-index: 99;
    height: 200px;
    overflow: scroll;
    color: #32333e;
    background-color: rgb(205, 207, 218);
    outline: none;
    border: none;
  }

  .filters {
    display: flex;
    margin-top: 1rem;
  }

  .agency-form select {
    margin-left: 1rem;
  }

  .select {
    width: 300px;
    color: #000;
    margin-left: 1rem;
    outline: none;
    border: none;
    background-color: rgb(98, 121, 157);
  }

  .genre-form {
    margin-left: 2rem;

    label {
      display: flex;
      align-items: center;
    }
  }

  label {
    display: flex;
    align-items: center;
  }

  .table-headings {
    display: grid;
    grid-template-columns: 8fr repeat(5, 10fr);
    border-bottom: 1px solid #fff;
    align-items: center;
  }

  .artists-container {
    height: 400px;
    overflow: scroll;
    background-color: #32333e;
  }

  .artist-listing {
    display: grid;
    grid-template-columns: 8fr repeat(5, 10fr);
    align-items: center;
    text-decoration: none;

    cursor: pointer;
    p {
      color: #fff;
    }
  }

  .artist-listing:hover {
    background-color: #373945;
  }

  .artist-image {
    width: 50px;
    height: 50px;
  }

  .watchlist-heading {
    width: 6rem;
  }

  .genre-selector {
    max-height: 40px;
  }
}
