$blue-one:#3500D3;
$blue-two:#240090;
$blue-three:#190061;
$blue-four: #0C0032;

$grey-one:#282828;
$grey-two:#121210;

$pink-one:#E8359F;
$pink-two:#D52F7F;
$pink-three:#CE2E7E;
$pink-four:#C73B96;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'PT Sans', sans-serif;