.splash {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
  width: 60%;
  text-align: justify;

  background-color: rgba(0, 0, 0, 0.8);
  margin: 30px 0 100px 0;
  border-radius: 10px;

  color: #fff;

  p {
    margin: 0;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    grid-gap: 20px;
    width: 100%;
  }
}
