// @import '../../styles/variables.scss';
// @import '../../styles/mixins.scss';

// .nav-link {
//   @include primaryHeavy();
//   color: $grey-one;
//   font-size: 1.2rem;
//   padding-left: 1em;
//   text-decoration: none;
//   outline: none;
//   width: 20%;
//   &:hover {
//     border-left: solid 3px $pink-two;
//     color: $pink-two;
//     cursor: pointer;
//   }
// }
