.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }
  .log-in .fa-times-circle {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    top: -10px;
    right: -10px; }
  .log-in .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 10px 67px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 67px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 67px -10px rgba(0, 0, 0, 0.75); }
  .log-in .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .log-in .top-inner {
    width: 80%;
    color: #fff;
    font-size: 2.5rem; }
  .log-in .top-inner h3 {
    margin: 0; }
  .log-in .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff; }
  .log-in p {
    margin-top: 1.5rem; }
