@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.frequency {
  width: 2rem;
}

.logo-wrap {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-left: 2rem;
}

.nav {
  background-color: #131621;
  color: #fff;
  min-width: 15rem;
  height: 100vh;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  color: #fff;
  font-family: $secondary-font;
}

.nav-link {
  @include primaryHeavy();
  box-sizing: border-box;

  width: 100%;
  padding: 1.5rem 0 1.5rem 2rem;

  color: $grey-one;
  font-size: 1.5rem;
  text-decoration: none;
  outline: none;

  &:hover {
    border-left: solid 5px $pink-two;
    background-color: #1e2334;
    cursor: pointer;
    color: $pink-two;
  }
}

.active {
  border-left: solid 5px $pink-two;
  background-color: #1e2334;
  cursor: pointer;
  color: $pink-two;
}
