.frequency {
  width: 2rem; }

.logo-wrap {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-left: 2rem; }

.nav {
  background-color: #131621;
  color: #fff;
  min-width: 15rem;
  height: 100vh; }

.nav-link-wrapper {
  display: flex;
  flex-direction: column; }

.logo {
  color: #fff;
  font-family: "PT Sans", sans-serif; }

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 0 1.5rem 2rem;
  color: #5d5d61;
  font-size: 1.5rem;
  text-decoration: none;
  outline: none; }
  .nav-link:hover {
    border-left: solid 5px #D52F7F;
    background-color: #1e2334;
    cursor: pointer;
    color: #D52F7F; }

.active {
  border-left: solid 5px #D52F7F;
  background-color: #1e2334;
  cursor: pointer;
  color: #D52F7F; }
