.frequency {
  width: 2rem; }

.logo-wrap {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-left: 2rem; }

.nav {
  background-color: #131621;
  border-right: 3px solid #1e2334;
  color: #fff;
  min-width: 15rem;
  height: 100vh; }
  .nav .active {
    border-left: solid 5px #D52F7F;
    background-color: #1e2334;
    cursor: pointer;
    color: #D52F7F; }

.nav-link-wrapper {
  display: flex;
  flex-direction: column; }

.logo {
  color: #fff;
  font-family: "PT Sans", sans-serif; }

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 1.5rem 0 1.5rem 2rem;
  border-left: solid 5px #131621;
  color: #5d5d61;
  font-size: 1.5rem;
  text-decoration: none;
  outline: none; }
  .nav-link:hover {
    border-left: solid 5px #D52F7F;
    background-color: #1e2334;
    cursor: pointer;
    color: #D52F7F; }

.venue-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
  background-color: rgba(250, 250, 250, 0.1);
  height: 300px;
  border-radius: 6px;
  color: #fff; }
  .venue-info header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    font-size: 1.3rem;
    background-color: #5a668a;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border: 0px solid #000000; }
  .venue-info .venue-info-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
